# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/PriorityBooster/.vs
/PriorityBooster/PriorityBooster/x64/Debug
/PriorityBooster/PriorityBooster/Debug
/PriorityBooster/Booster/Booster.vcxproj.user
/PriorityBooster/Booster/x64/Debug
/PriorityBooster/x64/Debug
/PriorityBooster/PriorityBooster/PriorityBooster.vcxproj.user
